
bubble-h = 32px
bubble-h-small = 23px

.bubble
  color: white
  border: none
  cursor: default
  height: bubble-h
  display: inline-flex
  outline: 0
  padding: 0 10px
  font-size: 0.8125rem
  box-sizing: border-box
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
  align-items: center
  white-space: nowrap
  border-radius: 16px
  vertical-align: middle
  justify-content: center
  text-decoration: none
  background-color: #e0e0e0
  opacity: .7

  &.small
    height: bubble-h-small
