
revo-grid revogr-viewport .colPinStart revogr-data .row
  &:before
    position: absolute
    left: 0
    top: 1px
    bottom: 1px
    width: 3px
    border-radius: 5px
  
  &.green
    &:before
      content: ''
      background-color: greenyellow
    
  

  &.brown
    &:before
      content: ''
      background-color: orange
    
  

  &.blue
    &:before
      content: ''
      background-color: rgb(43, 128, 226)