html, body
  background-color: #f6f9fc !important

.demo-page-class
  .theme-default-content:not(.custom)
    max-width: 1200px

#global-layout
  .navbar 
    box-shadow: rgba(53, 64, 82, 0.05) 0px 0px 14px 0px
    border-bottom: 0

    .logo
      height: 2.9rem
      margin-top: -6px

  .search-box
    margin-right: 5rem

    input
      border-radius: 0.5rem
      background-size: 0.8rem
      border: 1px solid #e6e6e6