/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important


table.duet-date__table
  display: table;
  
  tr
    border: 0;

    &:nth-child(2n)
      background: none;

  th, td
    padding: 0;
    border: 0;
  
    